/* section>p {
    color: blue;
}
article h1 {
    text-align: center;
    font-size: xx-large;
    color: darkorange;
}
header::before {
    content: "Test";
    color: gold;
    font-size: xxx-large;
}

p::selection {
    color: magenta;
}
#textIn::placeholder {
    font-size: xx-large;
    color: magenta;
} */

:root {
    --grid: 1;
    --row: 1;
}

section {
    display: grid;
}
@media print {

}
@media screen {
    body {
        background-color: green;
    }

    
}

@media screen and (min-width: 600px) {
    body {
        background-color: magenta;
    }
    :root {
        --grid:3;
    }
    
    /* .pOne {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .pTwo {
        grid-column-start: 3;
        grid-row-start: 1;

    }

    .pThree {
        grid-column-start: 1;
        grid-row-start: 2;

    } */
}
/* @media MedienTyp (z.B. Screen, print, speech) and/not/only (Bedingung/min/max-widht/height) */


@media screen and (min-width: 980px) {
    body {
        background-color: brown;
    }

    .pOne {
        grid-column-start: 1;
        grid-row-start: 1;
    }

    .pTwo {
        grid-column-start: 3;
        grid-row-start: 1;

    }

    .pThree {
        grid-column-start: 5;
        grid-row-start: 1;

    }
}
@keyframes flash-background {
    from {background-color: white;}
    to {background-color: rgb(255, 0, 0);}
}

@keyframes bounce {
    0% {transform: translate3d(0,0,0);}
    50% {transform: translate3d(0,100px,0);}
    100% {transform: translate3d(0,0,0);}
    
}
/* body {
    animation: flash-background 4s infinite;
} */
.bounce {
    width: 50px;
    height: 50px;
    background-color: blue;
    animation: bounce 2s ease-in infinite;
}


.pOne {
    grid-column-start: var(--grid);
    grid-row-start: 1;
}

.pTwo {
    grid-column-start: var(--grid, 1);
    grid-row-start: 2;

}

.pThree {
    grid-column-start: var(--grid);
    grid-row-start: 3;

}